services:
  nginx:
    image: nginx:latest
    container_name: nginx_proxy_container
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - prometheus
      - grafana
      - redis
    restart: always

  app:
    container_name: app_server
    build: .
    env_file:
      - .env.docker
    ports:
      - "8080:8080"
      - "8082:8082"
    volumes:
      - ./logs:/app/logs
    restart: always
    depends_on:
      - redis

  postgres:
    image: postgres:15
    env_file:
      - .env.docker
    ports:
      - "5432:5432"


  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"


  prometheus:
    user: "root"
    image: prom/prometheus
    container_name: prometheus_container
    volumes:
#      - ./volume/prometheus:/prometheus/data
      - ./config/prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    command:
      - '--web.enable-lifecycle'
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: always


  grafana:
    user: "root"
    image: grafana/grafana
    container_name: grafana_container
    ports:
      - "3000:3000"
    volumes:
#      - ./volume/grafana:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    env_file:
      - .env.docker
    restart: always
