version: '3.9'

services:
  # Nginx
  nginx:
    image: nginx:latest
    container_name: nginx_proxy_container
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - prometheus
      - grafana
    restart: always


  # 애플리케이션 구조
  app:
    container_name: app_server
    build: .
    ports:
      - "8080:8080"
      - "8082:8082"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: always
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: postgres_container
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"


  # 모니터링 구조
  grafana:
    container_name: grafana_container
    image: grafana/grafana
    env_file:
      - .env
    user: "root"
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    restart: always
    depends_on:
      - loki
      - prometheus

  prometheus:
    user: "root"
    image: prom/prometheus
    container_name: prometheus_container
    env_file:
      - .env
    volumes:
      - ./config/prometheus:/etc/prometheus
    ports:
      - "9090:9090"
    command:
      - '--web.enable-lifecycle'
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: always

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres_exporter_container
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - postgres
    restart: always

  loki:
    image: grafana/loki
    container_name: loki_container
    ports:
      - "3100:3100"
    volumes:
      - ./config/loki/local-config.yaml:/etc/loki/local-config.yaml
    environment:
      TZ: "Asia/Seoul"

  alloy:
    image: grafana/alloy
    container_name: alloy_container
    command: [
      "run",
      "--server.http.listen-addr=0.0.0.0:12345",
      "/etc/alloy/config.alloy"
    ]
    ports:
      - "12345:12345"
    volumes:
      - ./logs:/var/log/app:ro
      - ./config/alloy/config.alloy:/etc/alloy/config.alloy
